## .NET
bin/
obj/
[Pp]ublish/
artifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.booproj
*.svd
*.pidb
*.svclog
*.scc

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

## Rider / VS Code / Cursor
.idea/
*.sln.iml
.vscode/
.cursor/
